<div class="treatment__footer">
	<p class="treatment__footer-date">
		<span>Napisano dnia:</span><span><%= meta.article_date %></span>
	</p>

	<div class="treatment__footer-share">
		<span>Udostępnij artykuł:</span>
		<div class="treatment__footer-buttons">
			<a
				href="https://twitter.com/intent/tweet?url=<%= meta.url %>&text=<%= meta.title %>"
				title="Udostępnij artykuł na X"
				class="treatment__footer-btn treatment__footer-btn--x"
				rel="noopener noreferrer"
				target="_blank"
				aria-label="Udostępnij artykuł na X"
				><svg class="treatment__footer-share-icon">
					<use href="#i-x-logo"></use>
				</svg>
			</a>
			<a
				href="https://www.facebook.com/sharer/sharer.php?u=<%= meta.url %>"
				title="Udostępnij artykuł na Facebooku"
				class="treatment__footer-btn treatment__footer-btn--fb"
				rel="noopener noreferrer"
				target="_blank"
				aria-label="Udostępnij artykuł na Facebooku"
				><svg class="treatment__footer-share-icon">
					<use href="#i-fb-logo"></use>
				</svg>
			</a>
			<a
				href="https://www.linkedin.com/sharing/share-offsite/?url=<%= meta.url %>"
				title="Udostępnij artykuł na LinkedIn"
				class="treatment__footer-btn treatment__footer-btn--linkedin"
				rel="noopener noreferrer"
				target="_blank"
				aria-label="Udostępnij artykuł na LinkedIn"
				><svg class="treatment__footer-share-icon">
					<use href="#i-linkedin-logo"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
